/**
 * Main styles for Rock
 * Copyright GraceChurch
 *
 * @author Kirby Parnell
 */

/* Color Pallet & Typography */

$green: #56AA7E;
$darkgreen: #2D6E54;

$white: #FFF;
$gray: #f2f2f2;
$dgray: #303030;
$black: #0f0f0f;

$sans-serif: 'Poppins', sans-serif;


/* Breakpoints - https://getbootstrap.com/docs/3.3/css/ */

$screen-xs-max: 767px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;


/******************************************************
 * Base Rules
 ******************************************************/


body{
  font-family: $sans-serif;
}


/******************************************************
 * Page Title & Banner
 ******************************************************/

.pagetitle {
  margin: auto;
  color: $white;
  font-family: $sans-serif;
  text-align: center;
  font-size: 7vw;
  font-weight: 700;
  text-shadow: $black;
  z-index: 1;

  @media (min-width: $screen-sm-min) {
    font-size: 4vw;
  }
  @media (min-width: $screen-md-min) {
    font-size: 3.5vw;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 3vw;
  }
}



.container-fluid{
  padding: 0;
}

.header-image{
  background-image: url("../images/kenya.jpg");
  height: 550px;
  background-position: center;
  display: flex;
  position: relative;
  background-size: cover;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,$green,$darkgreen);
	opacity: .7;
  }
}

/******************************************************
 * Breadcrumbs
 ******************************************************/

.breadcrumb {

  a {
    color: $green;
  }

  a:after{
    content: ' / ';
    padding-right: 4px;
  }
}


/******************************************************
 * Participants
 ******************************************************/

.directions-h2 {
  font-size: 4vw;
  font-weight: 500;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 25px;

   @media (min-width: $screen-sm-min) {
    font-size: 3vw;
  }
  @media (min-width: $screen-md-min) {
    font-size: 2.5vw;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 2vw;
  }
}

.participant-option input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border: 4px solid $green;
  padding: 5px;
}

.image-wrap {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.participant-image {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.flex-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 45px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.participant-option {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 20px;
}


/******************************************************
 * Button
 ******************************************************/


.btn {
  background-color: $green;
  color: $white;
  padding: 10px;
  width: 100%;
  border: 1px solid $green;
  border-radius: 15px;
  margin-top: 45px;
  margin-bottom: 65px;
}

.btn:hover {
  background-color: $dgray;
  border: 1px solid $dgray;
  color: $white;
}


/******************************************************
 * Footer
 ******************************************************/


footer {
  height: 100px;
  background-color: $green;
  color: $white;

  .footer-logo {
    width: 45%;
    padding-top: 30px;
    display: block;
    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
    width: 25%;
  }
    @media (min-width: $screen-md-min) {
    width: 15%;
  }
    @media (min-width: $screen-lg-min) {
    width: 12%;
  }
  }
}

/******************************************************
 * rock_how_many_increments styles
 ******************************************************/

.numberincrement {
  text-align: center;
  font-size: 50px;
}

/******************************************************
 * rock_participant_profile
 ******************************************************/

.trip-btn {
  width: 35%;
  margin: 0 auto;
  display: block;
}

.copy-btn {
  background: none;
  border: none;
  padding: 0;
  margin-top: 10px;
}

.copy-btn:hover {
  color: $green;
}

.img-thumbnail {
  width: 50%;
  display: block;
  margin: 20px auto;
}

.image-wrap2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-right: 20px;
}

.participant-image2 {
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.trip-content {
  border-right: 3px solid black;
}

.participant-content {
  padding-top: 20px;
  padding-left: 90px;

  h2{
    color: $green;
  }

  span {
    line-height: 0;
  }
}

ul.socialsharing {
  padding-left: 0;
}

.socialsharing li{
  margin-top: 15px;
  list-style-type: none;
  display: inline-block;

  .fab,
  .fas {
    font-size: 26px;
    color: $dgray;
  }

  .fab:hover,
  .fas:hover {
    color: $green;
  }
}

.fundraising {
  margin-top: 50px;
  margin-bottom: 50px;
}

.progress-bar {
  background: rgb(196,196,196);
  background: linear-gradient(101deg, rgba(196,196,196,1) 6%, rgba(86,170,126,1) 69%);
}