/**
 * Main styles for Rock
 * Copyright GraceChurch
 *
 * @author Kirby Parnell
 */
/* Color Pallet & Typography */
/* Breakpoints - https://getbootstrap.com/docs/3.3/css/ */
/******************************************************
 * Base Rules
 ******************************************************/
body {
  font-family: "Poppins", sans-serif; }

/******************************************************
 * Page Title & Banner
 ******************************************************/
.pagetitle {
  margin: auto;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 7vw;
  font-weight: 700;
  text-shadow: #0f0f0f;
  z-index: 1; }
  @media (min-width: 768px) {
    .pagetitle {
      font-size: 4vw; } }
  @media (min-width: 992px) {
    .pagetitle {
      font-size: 3.5vw; } }
  @media (min-width: 1200px) {
    .pagetitle {
      font-size: 3vw; } }

.container-fluid {
  padding: 0; }

.header-image {
  background-image: url("../images/kenya.jpg");
  height: 550px;
  background-position: center;
  display: flex;
  position: relative;
  background-size: cover; }
  .header-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #56AA7E, #2D6E54);
    opacity: .7; }

/******************************************************
 * Breadcrumbs
 ******************************************************/
.breadcrumb a {
  color: #56AA7E; }
.breadcrumb a:after {
  content: ' / ';
  padding-right: 4px; }

/******************************************************
 * Participants
 ******************************************************/
.directions-h2 {
  font-size: 4vw;
  font-weight: 500;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .directions-h2 {
      font-size: 3vw; } }
  @media (min-width: 992px) {
    .directions-h2 {
      font-size: 2.5vw; } }
  @media (min-width: 1200px) {
    .directions-h2 {
      font-size: 2vw; } }

.participant-option input[type="radio"] {
  display: none; }

input[type="radio"]:checked + label {
  border: 4px solid #56AA7E;
  padding: 5px; }

.image-wrap {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 25px; }

.participant-image {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 45px; }

@media (max-width: 400px) {
  .flex-grid {
    display: block; } }
.participant-option {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 20px; }

/******************************************************
 * Button
 ******************************************************/
.btn {
  background-color: #56AA7E;
  color: #FFF;
  padding: 10px;
  width: 100%;
  border: 1px solid #56AA7E;
  border-radius: 15px;
  margin-top: 45px;
  margin-bottom: 65px; }

.btn:hover {
  background-color: #303030;
  border: 1px solid #303030;
  color: #FFF; }

/******************************************************
 * Footer
 ******************************************************/
footer {
  height: 100px;
  background-color: #56AA7E;
  color: #FFF; }
  footer .footer-logo {
    width: 45%;
    padding-top: 30px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      footer .footer-logo {
        width: 25%; } }
    @media (min-width: 992px) {
      footer .footer-logo {
        width: 15%; } }
    @media (min-width: 1200px) {
      footer .footer-logo {
        width: 12%; } }

/******************************************************
 * rock_how_many_increments styles
 ******************************************************/
.numberincrement {
  text-align: center;
  font-size: 50px; }

/******************************************************
 * rock_participant_profile
 ******************************************************/
.trip-btn {
  width: 35%;
  margin: 0 auto;
  display: block; }

.copy-btn {
  background: none;
  border: none;
  padding: 0;
  margin-top: 10px; }

.copy-btn:hover {
  color: #56AA7E; }

.img-thumbnail {
  width: 50%;
  display: block;
  margin: 20px auto; }

.image-wrap2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-right: 20px; }

.participant-image2 {
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px; }

.content {
  margin-top: 50px;
  margin-bottom: 50px; }

.trip-content {
  border-right: 3px solid black; }

.participant-content {
  padding-top: 20px;
  padding-left: 90px; }
  .participant-content h2 {
    color: #56AA7E; }
  .participant-content span {
    line-height: 0; }

ul.socialsharing {
  padding-left: 0; }

.socialsharing li {
  margin-top: 15px;
  list-style-type: none;
  display: inline-block; }
  .socialsharing li .fab,
  .socialsharing li .fas {
    font-size: 26px;
    color: #303030; }
  .socialsharing li .fab:hover,
  .socialsharing li .fas:hover {
    color: #56AA7E; }

.fundraising {
  margin-top: 50px;
  margin-bottom: 50px; }

.progress-bar {
  background: #c4c4c4;
  background: linear-gradient(101deg, #c4c4c4 6%, #56aa7e 69%); }

/*# sourceMappingURL=styles.css.map */
